
/*color de fondo pagina principal*/
#contenedorPrincipal{
    background-image:radial-gradient(blue,white)
}

/*Animacion de la palabra dinamica*/
#dinamica{
    animation-name: animacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacion{
    0%{color: blue;}
    25%{color: red}
    50%{color:yellow}
    100% {color: green}
}

/*flexbox de los logos*/
#contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*configuracion de las imagenes */
img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}