#containerP{
    margin-bottom: 15rem;
}

/*accion*/

.containerAc{
    background-color:aqua;

}

.titulo{
    color:green;
    font-weight:bolder
}

.datosCine{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}

.caracteristicas{
    color: green;
}

#volver{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

#volver:hover{
    color:aqua;
}